td{
	width: 30px;
  height: 30px;
  border: 1px dotted;
}

#minesweeper{
	text-align: center;
}

#board, #timer, #smiley, #flag_count{
	display: inline-block;
}

#menu{
	margin-bottom: 10px;
}

#result{
	margin-bottom: 10px;
  height: 20px;
  display:none;
}

#info_display {
  clear:both;
  text-align:center; 
}

.smileyface {
	width: 50px;
	height: 50px;
	position: relative;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	display: block;
	background: #ffe632;
	background: -webkit-gradient(linear, left top, left bottom, from(#fffe8d), to(#f6d23e));
	background: -moz-linear-gradient(top,  #fffe8d,  #f6d23e);	
	box-shadow: inset 0px -7px 7px rgba(0, 0, 0, .3), 0px 1px 10px rgba(0, 0, 0, .6);
	-webkit-box-shadow: inset 0px -7px 7px rgba(0, 0, 0, .3), 0px 2px 20px rgba(0, 0, 0, .6);
	-moz-box-shadow: inset 0px -7px 7px rgba(0, 0, 0, .3), 0px 1px 10px rgba(0, 0, 0, .6);
}

.eyes {
	width: 7px;
	height: 10px;
	background: #222;
	border-radius: 100px/160px;
	-webkit-border-radius: 100px 160px;
	-moz-border-radius: 100px/160px;
	position: absolute;
	//top: 40px;
	box-shadow: 0 1px 0 rgba(255,255,255, 0.8);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.8);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255, 0.8);
}	

.eyes.lefteye {
  left: 10px;
}

.eyes.righteye {
  right: 10px;
}

.smile {
	width: 20px;
	height: 7px;
	border: 2px solid #222;
	border-top: 0;
	background: rgba(0,0,0,0);
	-moz-border-radius: 0 0 120px 120px / 0 0 90px 90px;
	-webkit-border-radius: 0 0 120px 120px 0 0 90px 90px;
	border-radius: 0 0 120px 120px / 0 0 90px 90px;
	position: absolute;
	bottom: 10px;
	left: 14px;
	box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	-webkit-box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	-moz-box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
}

.smile.corner {
	width: 2px;
	height: 8px;
	background: #222;
	border-radius: 100px/160px;
	-webkit-border-radius: 100px 160px;
	-moz-border-radius: 100px/160px;
	position: absolute;
	top: -4px;
	-webkit-transform: rotate(65deg);
	-moz-transform: rotate(65deg);
	left: -2px;
}

.smile.corner.right {
  left: 20px;
  -webkit-transform: rotate(-65deg);
  -moz-transform: rotate(-65deg);		
}

.frown {
	width: 20px;
	height: 7px;
	border: 2px solid #222;
	border-bottom: 0;
	background: rgba(0,0,0,0);
	-moz-border-radius: 120px 120px 0 0 / 90px 90px 0 0;
	-webkit-border-radius: 120px 120px 0 0 90px 90px 0 0;
	border-radius: 120px 120px 0 0 / 90px 90px 0 0;
	position: absolute;
	bottom: 12px;
	left: 14px;
}

.up{
	background-color: silver;
}

.down{
	background-color: white;
}

.flag{
	background-color: pink;
}

.question{
	background-color: black;
}

.mine{
	background-color: red;
}